body{
    direction: ltr;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    text-align: left;
}
li{
    list-style: none;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.rfloat{
    float: right;
}
.lfloat{
    float: left;
}
.alpha60 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}