{% extends "@__main__/default/layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
        List User: <br />
        {% for user in users %}
            <p>{{ user.name }}</p>
        {% endfor %}

    </p>
{% endblock %}