a{
	color:#0CF;
	text-decoration:none;}
body{
	margin-top:0px;
	
	
	background-repeat:repeat;
	font-size:1em;
	background-color: #000;
	font-family: Verdana, Geneva, sans-serif;}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#wrapper{
	background-image:url(../pics/b.png);
	background-repeat:no-repeat;
	width:939px; 
	height:1558px;
	margin-left:auto;
	margin-right:auto;}
	
#top{
	width:939px;
	padding: 25px;}

#colleft{
    width: 625px;
    float:left;}
#colright{
    float:right;
    width:299px;
    margin-left:15px}
#bottom{
    float:left;
	opacity: 0.7;
	background-color:#000;
	margin-left:10px;
	height:120px;
	width:919px;
	padding: 0px;}

#header{
	float:left;
	margin-left:320px;
	height: 80px;
	width: 523px;}
	
	
#login{
	float:right;
    width: 100px;
	font-size: 0.7em;
	font-weight: bold;	
	height:80px;
    margin-top:-80px}

#login a{
	color:white ;	
	}
#navigation{
    margin-top:55px}
#navigation li { 
	display:inline;
	list-style: none; 
	margin: 0;
	padding-bottom: 10px; 
	float: left; 
	padding-left:40px;
	padding-right:44.1px;}
	
#navigation a { 
	display: block; 
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	font-style:normal;
	text-decoration: none;
	float:left;
	padding: 0px;
	background-color:transparent;
	color:#FFF}
	
#gallery{
	padding:0px;
	margin-left:10px;
	width: 625px;
	background-color:#000;}
		

#search{
	position: absolute;
	margin-left:10px;
	padding:10px;
	top:580px;
	width: 603px;
	height: 30px;
	background-color:#000;
	color: #0CF;
	font-size:0.7em;}
	
#searchwindow{
	float: left;
	color:#fff;
	font-size:0.7em;
	font-family:Verdana, Geneva, sans-serif;
	position: absolute;
	margin-left:10px;
	top:620px;
	padding:10px;
	width: 603px;
	height:50px;
	background-color: #069;}

#navigation li a:hover{
	color:#0CF;}
#game{
	padding:10px;
	width: 625px;
	height:176px;}

#game .game{
	float:left;
    width:176px;
    word-wrap:break-word;
    overflow:hidden;
    margin-bottom:10px;
    margin-right:10px}
#game .game .desc{
    color:#fff}

#text{
	position: absolute;
	padding-left:10px;
	top:920px;
	width: 625px;
	height:250px;}

	 
#box1{
	list-style: none; 
	float: left;
	width:182px;
	height:107px;
	text-align:left;
	font-size:0.6em;
	color: #FFF;
	padding-left:28px;
	padding-top:13px;
	line-height: 0.9em;}
#box1 a{
	text-decoration:none;
	color:#FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size:0.9em;}
#box1 a:hover{
	color:#0CF;}
	
#box2{
	line-height: 0.9em;
	list-style: none; 
	float: left;
	width:202px;
	height:107px;
	text-align:left;
	font-size:0.6em;
	color: #FFF;
	padding-left:28px;
	padding-top:13px;}
#box2 a{
	text-decoration:none;
	color:#FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size:0.9em;}
#box2 a:hover{
	color:#0CF;}

#box3{
	line-height: 0.9em;
	list-style: none; 
	float: left;
	width:150px;
	height:107px;
	text-align:left;
	font-size:0.6em;
	color: #FFF;
	padding-left:28px;
	padding-top:13px;}
#box3 a{
	text-decoration:none;
	color:#FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size:0.9em;}
#box3 a:hover{
	color:#0CF;}
	
#box4{
	line-height: 0.9em;
	list-style: none; 
	float: left;
	width:273px;
	height:107px;
	text-align:left;
	font-size:0.6em;
	color: #FFF;
	padding-left:28px;
	padding-top:13px;}
#box4 a{
	text-decoration:none;
	color:#FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size:0.9em;}
#box4 a:hover{
	color:#192B42;}
	
#abouttitle{
	font-size:13px;
    padding-left:5px;
	font-family:Verdana, Geneva, sans-serif;
	color: #0CF;
	background-color:#000;
    }


#about{
	padding:5px;
	background-color:#000;
	font-size:0.7em;
	font-family:Verdana, Geneva, sans-serif;
	color: #FFF;}
	
.hidden
{
display: none;
}

#slides{
	padding-top:5px;}
