body {
    background: #ebebeb;
    margin: 0;
}
#background {
    background: url(../images/bg-body2.png) repeat-x left top;
}
#page {
    background: #FFF;
    width: 924px;
    margin: 0 auto;
    padding: 0 18px;
}
img {
    border: 0;
}
/*------------------------------ Sprites ------------------------------*/
#navigation, #footer {
    background: url(../images/bg-strips.png) repeat-x;
}
#navigation #secondary li:first-child a, #connect li a {
    background: url(../images/icons.png) no-repeat;
}
/*------------------------------ HEADER ------------------------------*/
#header {
    background: url(../images/bg-header.png) no-repeat center top;
    margin-bottom: 36px;
}
/** Logo **/
#logo {
    height: 100px;
    width: auto;
}
#logo h3 {
    display: block;
    height: 53px;
    width: 386px;
    margin: 0 auto;
    padding: 23px 0;
	font-size: 20px;
	font-family: "Century Gothic"
}
/** Navigation **/
#navigation {
    background-position: 0 0;
    color: #527b99;
    height: 45px;
    margin: 0;
    padding: 0 10px;
}
#navigation ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 8px 0;
}
#navigation li {
    float: left;
    font-size: 14pt;
    margin: 0 18px;
    padding-top: 5px;
    text-align: center;
}
#navigation a {
    font-family: 'HammersmithOneRegular';
    color: #527b99;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 1px 1px #e5f0f2;
    text-transform: uppercase;
}
#navigation a:hover, #primary li.selected a, #navigation #primary li.highlight a:hover {
    background: url(../images/bg-menu-selected.gif) no-repeat center top;
    color: #21c1c5;
    padding-top: 5px;
}
#navigation ul#primary {
    float: left;
    margin-right: 30px;
    *width: 560px;/** Needed for IE7 **/
}
#navigation #primary li.highlight a {
    color: #fafbf6;
    font-size: 16px;
    text-shadow: 1px -1px #9ebabb;
}
#navigation ul#secondary {
    *width: 254px;/** Needed for IE7 **/
}
#navigation #secondary li:first-child {
    margin-right: 10px;
}
#navigation ul#secondary li:first-child a {
    background-position: right 0;
    padding-right: 48px;
}
#navigation ul#secondary li:first-child a:hover {
    padding-top: 0;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
    margin-bottom: 10px;
	min-height: 600px;
}
#contents h4 {
    background: url(../images/separator-horizontal.png) no-repeat center center;
    color: #fbfdf8;
    font-family: 'HammersmithOneRegular';
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 24px;
    padding: 0 24px;
    text-transform: uppercase;
}
#contents h4 span {
    background-color: #97b847;
    display: block;
    height: 29px;
    width: auto;
    padding: 4px 0 2px;
    text-align: center;
}
/** MAIN **/
#main, #main div {
    margin-bottom: 10px;
}
.items {
    display: inline-block;
    list-style: none;
    margin: 0 25px;
    padding: 0;
}
.items .item {
    float: left;
    width: 240px;
    margin-left: 20px;
}
.items .item .name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.items .item p{
    line-height: 16px;
    font-size: 12px;
}
.items .item p span{
    color: #006dcc;
    font-size: 12px;
}
.items .item:first-child {
    margin-left: 0;
}
.items .item img {
    border: 1px solid #d2cecf;
    padding: 2px;
}
.items .item a {
    color: #003bb3;
    font-family: 'HammersmithOneRegular';
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
/*------------------------------ deal detail ------------------------------*/
#deal h3{
    font-size: 16px;
    font-weight: bold;
    color: #CCC;
    text-decoration: underline;
    margin-bottom: 10px;
}
#deal .condition{
    font-size: 13px;
    padding: 5px;
    margin-bottom: 10px;
}
#deal .list-image img{
    display: block;
    margin-bottom: 5px;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
    background-color: #0d1528;
    background-position: 0 -57px;
    width: 100%;
    position: absolute;
    left: 0;
}
#footer div.background {
    width: 876px;
    margin: 0 auto;
    padding: 70px 24px 30px;
}
#footer .navigation {
    color: #616b84;
    display: inline-block;
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}
#footer .navigation li {
    float: left;
    width: 110px;
    line-height: 18px;
}
#footer .navigation li.latest {
    width: 140px;
}
#footer .navigation li h5, #connect h5 {
    font-weight: normal;
    margin: 0 0 6px;
    text-transform: uppercase;
}
#footer .navigation li a {
    color: #616b84;
    display: block;
    font-size: 13px;
    font-family: 'Trebuchet MS';
    text-decoration: none;
}
#footer .navigation li a:hover {
    color: #9cb1e4;
}
#footer .footnote {
    color: #0b162a;
    font-size: 11px;
    margin: 0;
    text-align: center;
}
#footer .footnote a {
    color: #0b162a;
    text-decoration: none;
}
#connect {
    float: right;
    color: #c0e073;
}
#connect ul {
    display: inline-block;
    list-style: none;
    margin: 18px 0 0;
    padding: 0;
}
#connect li {
    float: left;
    margin-left: 60px;
}
#connect li:first-child {
    margin-left: 0;
}
#connect li a {
    display: block;
    height: 38px;
    width: 48px;
}
#connect li a.facebook {
    background-position: 0 -30px;
}
#connect li a.twitter {
    background-position: 0 -78px;
}
#connect li a.linkin {
    background-position: 0 -126px;
}
#connect li a:hover {
    filter:alpha(opacity=80);
    opacity:0.8;
}
