.inner-wrap{
    width: 1000px;
    margin: 0 auto;
    min-width: 776px;
}
.pull-right{
    float: right
}
.pull-left{
    float: left
}
.clear{
    clear: both;
}
a{
    color: #369BD7;
}
#header{
    background: #0081c2;
    height: 50px
}
#header .brand{
    color: #F5F5F5;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    margin-left: -20px;
    padding: 10px 20px 12px
}
#header .nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
#header .nav > li {
    display: block;
    float: left;
}
#header .nav li {
    line-height: 18px;
}
#header .nav > li > a {
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    color: #F5F5F5;
    float: none;
    line-height: 19px;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#header .nav > li > a {
    display: block;
}
#login-info {
    font-size: 16px;
    margin-top: 15px;
}
#login-info div{
    display: inline;
    margin-right: 10px;
    color: #FFF;
}
#login-info a{
    color: #FFF;
}
#content-wrap{
    margin-top: 10px;
}
#col-left{
    margin-bottom: 0;
    min-height: 0;
    padding-bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 150px;
}
#main-menu{
    background: #0081c2;
}
#main-menu  li{
    border-bottom: 1px solid #DDD;
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
}
#main-menu li a{
    display: block;
    padding-left: 20px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
}
#main-content{
    margin-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 810px;
    padding: 10px;
}
.list-box{
    border: 1px solid #DDD;
}
.list-box .header{
    background: #F1F1F1;
    color: #317EAC;
    font-family: 'Karla',sans-serif;
    font-weight: bold;
    padding-left: 10px;
    line-height: 25px;
    height: 25px;
    font-size: 15px;
}
.list-box .header a{
    font-size: 13px;
    margin-right: 15px;
    float: right;
}
.data-table{
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
.data-table thead th{
    font-weight:bold;
    border-left: 1px solid #DDD;
    line-height: 25px;
    color: #545F6B;
}
.data-table thead th:first-child, .data-table tbody tr td:first-child{
    border-left: none;
}
.data-table tbody tr td{
    border-top: 1px solid #DDD;
    line-height: 18px;
    padding: 8px;
    text-align: center;
    vertical-align: top;
    border-left: 1px solid #DDD;
}

form .control-group {
    margin-top: 18px;
}
form .control-group label{
    float: left;
    text-align: right;
    width: 190px;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 18px;
    color: #555555;
    font-weight: bold;
}
form .controls {
    margin-left: 210px;
}
form .controls input[type=text]{
    width: 240px;
}
form .form-actions {
    margin-top: 18px;
    padding: 17px 20px 18px 160px;
}