fieldset{
    width: 300px;
    margin: 200px auto 0 auto;
    border: 1px solid #CCC;
    padding: 10px 10px 10px 20px;
}
legend{
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
    color: #0066cc;
}
input[type=text], input[type=password]{
    margin-bottom: 5px;
}
label{
    width: 120px;
    float: left;
}